@font-face {
    font-family: "blackjack";
    src: url("fonts/blackjack.otf");
    font-weight: 500;
}
@font-face {
    font-family: "pacifico";
    src: url("fonts/Pacifico.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "victorian";
    src: url("fonts/Victorian\ Art\ Magic\ Remains.ttf");
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital@1&display=swap');

h1 {
    color: #c02c2c;
    font-family: Alton;
    text-align: left;
}
.content {
    color: grey;
    font-size: 24px;
    font-family: Roboto;
    text-align: justify;
    text-transform: lowercase;
    line-height: 30px;
    font-weight: lighter;
}

h3 {
    color: brown;
    font-family: 'Roboto';
}

#bioHeader {
    color: green;
}

#skillsHeader {
    color: lightgreen;
    font-family: 'Roboto';
    text-transform: uppercase;
}

img {
    width: 150px;
    height: 108px;
}