@font-face {
    font-family: "blackjack";
    src: url("fonts/blackjack.otf");
    font-weight: 500;
}
@font-face {
    font-family: "pacifico";
    src: url("fonts/Pacifico.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "victorian";
    src: url("fonts/Victorian\ Art\ Magic\ Remains.ttf");
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital@1&display=swap');

h1 {
    color: #c02c2c;
    font-family: Alton;
    text-align: left;
    margin: 40px;
}

#rootHead {
    position: fixed;
    top: 25px;
    left: 25px;
    margin: 0;
    background-color: white;
}

.content {
    color: grey;
    font-size: 23px;
    font-family: Roboto;
    text-align: justify;
    line-height: 30px;
    font-weight: lighter;
    margin: 25px 45px;
    border-bottom: dashed grey 2px;
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;

}

.imgDiv {
    background-color: rgb(247, 238, 223);
}

.light{
    background-color: rgb(250, 227, 193);
}

h3 {
    color: brown;
    font-family: 'Roboto';
    margin: 50px 40px;
}


#bioHeader {
    margin-top: 10%;
    color: green;
}

#skillsHeader {
    color: lightgreen;
    font-family: 'Roboto';
    text-transform: uppercase;
}

img {
    width: 150px;
    height: 108px;
    box-shadow: 3px 3px 7px black;
    margin: 10px 3.7%;
    padding: 1px;
}